.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
  color: black;
    margin:0;
    font-size: 18px;
}
*{margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
margin: auto;
}
.flex-container > li {
  flex-wrap:nowrap;

  display: inline;
  margin: 0 5px;
  padding: 35px;;
}
.flex-container-body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  flex-wrap: nowrap;
margin: auto;
}
.body_container{
  flex-wrap: wrap;
}

.frame{

  display: flex;
  flex-flow: nowrap;
  margin: 0 auto;
}
.frame-content{
  padding: 60px;
}


 .image_description{
    padding: 60px;

}
p{
  color:black;
  background-color:transparent;
  font-size: 17px;
  margin:0;
  font-weight: normal;
  text-align: justify;
}
h5{
  margin-top: 10px;
  font-size: 20px;
  font-weight:lighter;
  text-align:left;

}
h2{
  font-size: 35px;
  font-weight: 700;
}
.image{
  z-index: 5;
  width: 100%;
  transition: width 2s, height 2s, transform 2s;
}
.image:hover{
  transform: rotate(360deg) scale(1.25,1.25);
  
}
/*Slider*/
#cf {
  position:relative;
  margin:0 auto;
}
#cf img {
  position:absolute;
  width: 100%;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;

}


@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  26% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#cf img.img1 {
  
  animation-delay: 7.5s;
}
#cf img.img2 {
  animation-delay: 5s;
}
#cf img.img3 {

  animation-delay: 2.5s;
}
#cf img.img4 {

  animation-delay: 0s;
}

a{  color: cornsilk;
    text-decoration: none;}

/*pseudo classes*/
a:hover {
        color: #fda172;
      }
  

 .header{
    color: cornsilk;
    background-color: black;
    text-align: center;
    font-size: 17px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    border-bottom: #ffffff;

    }
    
    .logo{
      position:absolute;
      top: 0;
      left: 8.33%;
      height: 100%;
      padding: 1%;
      transition: .5s;
  }
  .logo:hover{
    transform: scale(1.2,1.2);

  }

ul{
  margin: auto;
}
li{
  list-style-type: none;
}
.backgroundimg{
  position: relative;
  width: 100%;
  margin: 0 auto;
}


.dropdown{
  position: relative;
}
.dropdown:hover {

    color:#fda172;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
.dropdown-content{

/*
    display: none;
    position: absolute;
    padding: 5px 0;
    margin-bottom: 0;
    min-width: 150px;

        background-color: #111111;

    box-shadow: 0px 0px 5px 0px whitesmoke;
    z-index: 2;
*/
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 150px;
    padding: 5px;
    background-color: #111111;

    box-shadow: 0px 0px 5px 1px whitesmoke;

    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .dropdown-content a {
    color: cornsilk;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  .dropdown-content a:hover {

    color:#fda172;
    background-color: #212121}

.dropdown:hover .dropdown-content {
  /*transition: all 0.5s;
  display: block;*/
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;

}
.content{  
  margin: 30px auto;
  z-index: 1;


  }
.content::after{
    clear: both;
}
h1{
  font-weight: 700;

}


.footer{

  display: flex;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 13px;
}

  /* For Footer*/
  .logo1{
      width: 100%;
      height: inherit;
      transition: .5s;

  }
  .logo1:hover{
    transform: scale(1.25, 1.25);
  }

  .imagehover{
      transition: .5s;
      width:100%; height: auto;
  }
  .imagehover:hover{
    transform: scale(1.2,1.2);

  }
.footer-content{
  padding: 40px;
  align-self: center;

}

.spanblock{
  display: block;
  padding: 15px;
}
.fa {
  margin:auto;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border: solid white 1px;
  border-radius: 10%;

}

.fa:hover {
    background: whitesmoke;
    color: black;
  }


  @media only screen and (max-width: 700px ){
    [class*="col-"] {
      width: 100%;
    }
    .flex-container {
      flex-direction: column;
      padding:0;
    }
    .flex-container > li {
    
      display: block;
      margin: 0;
      padding: 15px;;
    }
    .logo{
      display: none;
  }

  .header{
    color: cornsilk;
    background-color: black;
    text-align: center;
    font-size: 17px;
    position: static;
    border-bottom: #ffffff;

    }
    .logo1{
      display:none
    }
    .imagehover:hover{
      transform: none;
    }
    .fa{
      display: block;
    }
    .footerhide{
      display:none;
    }
    .frame{

      display: flex;
      flex-direction: column;

    }
    .image:hover{
      transform: none;
      
    }
  }  
